.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .products-list {
    justify-content: center;
  }

  .products-wraper h1 {
    font-size: 1.75rem;
  }
}
