.breadcrumb {
  display: inline-block;
  padding-bottom: 1rem;
}

.breadcrumb__item {
  padding-right: 0.5rem;
  display: inline-block;
  vertical-align: middle;
}

.breadcrumb__item:not(:last-child):after {
  content: "/";
  padding-left: 0.5rem;
}

.breadcrumb__item:last-child {
  padding-right: 0;
}

.breadcrumb a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}