.product {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 234px;
  margin: 8px 16px;
  padding: 8px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}

.product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  background-color: white;
  padding: 16px 22px;
}

.product-title {
  color: #4e4e4e;
  font-size: 1em;
  margin-bottom: 0;
}

.product-x {
  color: #4e4e4e;
  font-size: 1.2em;
}

@media screen and (max-width: 600px) {
  .product {
    width: 300px;
  }
}
